Package: me.aleksilassila.spotifymorepopularsongs
Name: SpotifyMorePopularSongs
Version: 0.0.4
Architecture: iphoneos-arm
Description: Show more popular songs in Spotify artist page
Maintainer: Aleksi Lassila
Author: Aleksi Lassila
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
